table {
  border-collapse: collapse;
  width: 100%;
  /* margin: 5px; */
}

th {
  padding: 5px;
}

td {
  /* border: 1px solid black; */
  text-align: left;
  padding: 5px;
  /* padding-left: 0px; */
  /* padding-right: 0px; */
}

/* #load {
  width: auto;
}

/* .table {
  border: 1px solid red;
} */
